.infobox {
  padding: 1em 1em 1em 3em;
  margin-bottom: 8px;
  background: lightgray 5px center/3em no-repeat;
  border: 2px solid orange;
  border-radius: 8px;
}
.caution {
  background-image: url("../images/caution.png");
}
.important {
  background-image: url("../images/important.png");
}
.note {
  background-image: url("../images/note.png");
}
.tip {
  background-image: url("../images/tip.png");
}

.figure {
  text-align: center;
}

.warning {
  background-image: url("../images/warning.png");
}

#attention {
  color: #FF3399;
  font-weight: 900
}

table.striped {
  border-collapse: separate;
  border-spacing: 0;
  border-bottom: 1px solid #111;
}

table.striped td, table.striped th {
  padding: 6px 8px;
}

table.striped tbody td {
  border-top: 1px solid #ddd;
}

table.striped tbody tr.first-child td {
  border-top: none;
}

table.striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

table.small {
  font-size: 0.9em;
}

table.small td {
  vertical-align: top;
}
