.Rproj.user
.Rhistory
.RData
.Ruserdata

R/dopar_parallel_example.R


_aux/

text/

tableau/

_bookdown_files/

test2.Rmd

docs/debug.log
TEMP

sessionInfoLog

shiny_gap_feasibility/rsconnect/
